@charset "UTF-8";

:root {
  background-color: black;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: inherit;
}

h1 {
  margin-bottom: 0;
}

h1,
h2 {
  text-align: center;
}

p {
  margin-top: 0;
}

/* CUSTOM STYLES */

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 1s;
}

.character-row {
  display: flex;
  gap: 1em;
}

.start-btn {
  border: 0.25em solid gray;
  border-radius: 1em;
  background-color: black;
  color: gray;
  font-size: 1em;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

.start-btn:hover {
  border-color: #fff;
  color: #fff;
}

.grid {
  background-color: black;
  display: grid;
  /* grid-template-columns: repeat(28, 1fr); */
  /* width: 560px;
  height: 600px; */
  width: 80%;
  border: 4px solid blue;
  border-radius: 0.5em;
  box-sizing: content-box;
}

.item0 {
  background-color: pink;
  border: 12px solid black;
  /* border-radius: 1em; */
}

.item1 {
  background-color: darkblue;
}

.item2 {
  background-color: black;
}

.item3 {
  background-color: orange;
  border: 6px solid black;
  border-radius: 1em;
}

.item4 {
  background-color: black;
}

.pacman {
  background-color: yellow;
  border-radius: 50%;
  border: none;
}

.ghost {
  border: none !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
}

.blinky {
  background-color: red !important;
}

.pinky {
  background-color: hotpink !important;
}

.inky {
  background-color: cyan !important;
}

.clyde {
  background-color: orange !important;
}

.scared {
  background-color: blue !important;
}

@media screen and (min-width: 800px) {
  .grid {
    min-width: 20%;
    max-width: 35%;
    border: 4px solid blue;
    border-radius: 0.5em;
    box-sizing: content-box;
  }

  .item0 {
    background-color: pink;
    border: 8px solid black;
  }
}
