@charset "UTF-8";

:root {
  background-color: black;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
}

body {
  color: white;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
  /* position: fixed; */
  width: 100%;
  overflow: hidden;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

h1 {
  margin-bottom: 0.25em;
}

h1,
h2 {
  text-align: center;
  text-transform: capitalize;
}

p {
  margin: 0 0 0.5em 0;
}

/* CUSTOM STYLES */

/* Main Menu Styles */

.menu-header {
  margin-bottom: 2em;
}

.character-label {
  font-size: 2.5em;
}

.character-row {
  display: flex;
  gap: 1em;
}

.start-container button {
  border: 0.25em solid gray;
  border-radius: 1em;
  background-color: black;
  color: gray;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
  padding: 1em;
}

.start-btn {
  max-width: 550px;
}

.instruction-btn, .highscore-btn {
  max-width: 314px;
}

.start-container button:hover,
.start-container button:focus {
  border-color: #fff;
  color: #fff;
}

/* Modal Styles */

.modal-wrapper {
  background-color: hsla(0, 0%, 20%, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.modal {
  position: relative;
  border: 4px solid white;
  border-radius: 1em;
  width: 50%;
  max-height: 80%;
  background-color: black;
  padding: 1em;
  top: 12.5%;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  z-index: 100;
}

.modal-header {
  position: relative;
  left: 0;
  text-align: left;
  width: 100%;
}

.instructional-content {
  display: block;
  margin-top: 3em;
}

.instructional-modal h3 {
  margin-top: 1.5em;
}

.instructional-modal p {
  line-height: 1.75em;
}

.modal button {
  border: none;
  border-radius: 1em;
  background-color: transparent;
  color: white;
  position: fixed;
  font-size: 2.5em;
  top: 0;
  right: 0;
  right: 6px;
}

.modal button:hover,
.modal button:focus {
  color: red;
}

.modal button:active {
  margin-top: 1px;
}

.highscore-modal {
  max-width: 985px;
  width: 80%;
}

table {
  width: 100%;
  text-align: center;
  overflow-x: scroll;
  overflow-y: scroll;
}

th {
  width: 150px;
}

td {
  min-width: 160px;
  height: 4em;
}

tr .date {
  max-width: 250px;
}

/* Game Styles */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: opacity 1s;
}

.grid {
  background-color: black;
  display: grid;
  position: relative;
  border-radius: 0.5em;
  width: 80%;
  max-width: 700px;
  border: 4px solid blue;
  box-sizing: content-box;
}

.grid div::before {
  float: left;
  padding-top: 100%;
  content: "";
}

.grid div::after {
  display: block;
  content: "";
  clear: both;
}

.start-timer,
.game-text-label {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-72%);
}

.start-timer {
  font-size: 3em;
}

.game-text-label {
  font-size: 1.5em;
}

.item0 {
  background-color: pink;
  border: 8px solid black;
  border-radius: 50%;
}

.item1 {
  background-color: darkblue;
}

.item2 {
  background-color: black;
}

.item3 {
  background-color: orange;
  border: 6px solid black;
  border-radius: 50%;
  animation-name: "grow";
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.item4 {
  background-color: black;
}

.pacman {
  position: relative;
  background-color: yellow;
  border-radius: 50%;
  border: none;
}

.pacman-mouth {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);

  /* animation-name: eat-right; */
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.ghost {
  position: relative;
}

.blinky,
.pinky,
.inky,
.clyde {
  border: none !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.blinky {
  background-color: red;
}

.pinky {
  background-color: hotpink;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.scared {
  background-color: blue !important;
}

/* Animations */

@keyframes grow {
  0% {
    border-width: 6px;
  }
  50% {
    border-width: 10px;
  }
  100% {
    border-width: 6px;
  }
}

@keyframes eat-right {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* MEDIA QUERIES */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 1150px) {
  .instructional-modal {
    width: 60%;
  }
  .grid {
    width: 90%;
    max-width: 600px;
  }
}

@media screen and (max-width: 950px) {
  .instructional-modal {
    width: 70%;
  }
  .item0 {
    border: 8px solid black;
  }
}

@media screen and (max-width: 850px) {
  .instructional-modal {
    width: 90%;
  }
  .instructional-modal p {
    font-size: 0.9em;
  }
  .start-btn {
    width: 550px;
    max-width: 90%;
  }
  .grid {
    width: 90%;
    max-width: 600px;
  }
  .item0 {
    border: 7px solid black;
  }
  .item3 {
    border: 4px solid black;
  }
}

@media screen and (max-width: 650px) {
  .modal {
    width: 90%;
  }
  .instructional-modal p {
    font-size: 0.8em;
  }
  .grid {
    width: 92%;
    max-width: 600px;
  }
  .start-timer,
  .game-text-label {
    transform: translateY(-66%);
  }

  .start-timer {
    font-size: 2em;
  }

  .game-text-label {
    font-size: 1em;
  }

  .item0 {
    border: 5px solid black;
  }

  .item3 {
    border: 2px solid black;
    animation-name: "grow-med";
  }

  @keyframes grow-med {
    0% {
      border-width: 2px;
    }
    50% {
      border-width: 6px;
    }
    100% {
      border-width: 2px;
    }
  }
}

@media screen and (max-width: 520px) {
  .grid {
    max-width: 450px;
    max-height: 482px;
  }
  .start-timer,
  .game-text-label {
    width: 100px;
  }
  .item0 {
    border: 3px solid black;
  }
}

@media screen and (max-width: 450px) {
  .instructional-modal h2 {
    font-size: 1.25em;
    margin-top: 0.25em;
  }
  .instructional-modal button {
    font-size: 2em;
  }
  .grid {
    max-width: 400px;
    max-height: 428.5px;
  }
  .character-label {
    font-size: 1.5em;
  }
  .start-timer {
    font-size: 1.65em;
  }
  .game-text-label {
    font-size: 0.9em;
  }
  .item0 {
    border: 4px solid black;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.5em;
  }
  .modal {
    top: 8%;
    width: 95%;
  }
  .modal h2 {
    font-size: 1.35em;
  }
  .instructional-modal h3 {
    font-size: 1em;
  }
  .instructional-modal p {
    font-size: 0.7em;
  }
  .instructional-modal button {
    font-size: 1.5em;
  }
  .character-label {
    display: flex;
    align-content: flex-end;
    font-size: 2em;
    height: 2em;
    margin-top: 0;
  }
  table {
    padding-right: 2em;
  }
  tr {
    font-size: .8em;
  }
  th {
    width: 115px;
  }
  td {
    min-width: 100px;
    height: 4em;
  }
  tr .date {
    max-width: 150px;
  }
  .grid {
    max-width: 375px;
    max-height: 396px;
  }
  .start-timer {
    font-size: 1.25em;
  }
  .game-text-label {
    font-size: 0.75em;
  }
  .item0 {
    border: 3.75px solid black;
  }
  .item3 {
    border: 3px solid black;
    animation-name: "grow-small";
  }
  @keyframes grow-small {
    0% {
      border-width: 3px;
    }
    50% {
      border-width: 4px;
    }
    100% {
      border-width: 3px;
    }
  }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  h1 {
    margin-top: .75em;
    font-size: 1.25em;
  }
  .menu-header {
    margin-bottom: 0;
  }
  .character-label {
    font-size: 1.5em;
  }
  .start-container button {
    padding: .5em;
  }
  .game-header {
    display: flex;
  }  
  .game-header > * {
    margin-right: 2em;
  }
  .game-header p:last-child {
    margin-right: 0;
  }
  .grid {
    width: 32%;
  }
  .start-timer,
  .game-text-label {
    width: 75px;
    transform: translateY(-70%);
  }
  .start-timer {
    font-size: .75em;
  }
  .game-text-label {
    font-size: 0.5em;
  }
  .item0 {
    border: 3px solid black;
  }
  .item3 {
    border: 2px solid black;
    animation-name: "grow-xsmall";
  }
  @keyframes grow-xsmall {
    0% {
      border-width: 2px;
    }
    50% {
      border-width: 3px;
    }
    100% {
      border-width: 2px;
    }
  }
}